<%# locals: (import:) %>

<%= styled_form_with model: @import, url: import_configuration_path(@import), scope: :import, method: :patch, class: "space-y-4" do |form| %>
  <%= form.select :entity_type_col_label, import.csv_headers, { include_blank: t("imports.form.leave_empty"), label: t("imports.form.entity_type") } %>
  <%= form.select :name_col_label, import.csv_headers, { include_blank: t("imports.form.leave_empty"), label: t("imports.form.name") }, required: true %>
  <%= form.select :amount_col_label, import.csv_headers, { include_blank: t("imports.form.leave_empty"), label: t("imports.form.balance") }, required: true %>
  <%= form.select :currency_col_label, import.csv_headers, { include_blank: t("imports.form.default"), label: t("imports.form.currency") } %>

  <div class="flex items-center gap-4">
    <%= form.select :date_col_label, import.csv_headers, { include_blank: t("imports.form.leave_empty"), label: t("imports.form.balance_date") } %>
    <%= form.select :date_format,
                    Family::DATE_FORMATS,
                    { label: t("imports.form.date_format"), prompt: t("imports.form.select_format") },
                    required: @import.date_col_label.present? %>
  </div>

  <%= form.submit t("imports.form.apply_configuration"), disabled: import.complete? %>
<% end %>
