<%# locals: (import:) %>

<%= styled_form_with model: @import, url: import_configuration_path(@import), scope: :import, method: :patch, class: "space-y-4" do |form| %>
  <div class="space-y-4">
    <div class="flex items-center gap-4">
      <%= form.select :date_col_label, import.csv_headers, { include_blank: t("imports.form.select_column"), label: t("imports.form.date") }, required: true %>
      <%= form.select :date_format, Family::DATE_FORMATS, { label: t(".date_format_label")}, label: true, required: true %>
    </div>

    <div class="flex items-center gap-4">
      <%= form.select :qty_col_label, import.csv_headers, { include_blank: t("imports.form.select_column"), label: t("imports.form.quantity") }, required: true %>
      <%= form.select :signage_convention, [[t("imports.form.buys_positive_qty"), "inflows_positive"], [t("imports.form.buys_negative_qty"), "inflows_negative"]], label: true, required: true %>
    </div>

    <div class="flex items-center gap-4">
      <%= form.select :currency_col_label, import.csv_headers, { include_blank: t("imports.form.default"), label: t("imports.form.currency") } %>
      <%= form.select :number_format, Import::NUMBER_FORMATS.keys, { label: t("imports.form.format"), prompt: t("imports.form.select_format") }, required: true %>
    </div>

    <%= form.select :ticker_col_label, import.csv_headers, { include_blank: t("imports.form.select_column"), label: t("imports.form.ticker") }, required: true %>
    <%= form.select :exchange_operating_mic_col_label, import.csv_headers, { include_blank: t("imports.form.leave_empty"), label: t("imports.form.stock_exchange_code") } %>
    <%= form.select :price_col_label, import.csv_headers, { include_blank: t("imports.form.select_column"), label: t("imports.form.price") }, required: true %>

    <% unless import.account.present? %>
      <%= form.select :account_col_label, import.csv_headers, { include_blank: t("imports.form.leave_empty"), label: t("imports.form.account") } %>
    <% end %>

    <%= form.select :name_col_label, import.csv_headers, { include_blank: t("imports.form.leave_empty"), label: t("imports.form.name") } %>

    <% unless Security.providers.any? %>
      <div class="alert alert-warning">
        <p>
          <strong><%= t("imports.form.note") %></strong> <%= t("imports.form.security_provider_not_configured") %>
        </p>
      </div>
    <% end %>
  </div>

  <%= form.submit t("imports.form.apply_configuration"), disabled: import.complete? %>
<% end %>
